<!-- todo_list/todo_app/templates/todo_app/todolist_form.html -->
{% extends "base.html" %}

{% block content %}

<h3>{{ title }}</h3>
<div>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <p class="form-actions">
                <input class="btn btn-primary" value="Save" type="submit">
                <input class="btn btn-secondary" value="Cancel" type="button" onclick="location.href='{% url "index" %}';">
            </p>
        </form>
</div>

{% endblock %}