<!-- todo_list/todo_app/templates/base.html -->
<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css">
    {% load static %}
    <link rel="stylesheet" href="{% static 'todo_app/css/styles.css' %}">
    <title>Django To-do Lists</title>
</head>

<body>
    <main class="app-card">
        <header class="app-header">
            <h1 class="app-logo" onclick="location.href='{% url "index" %}'">
                Django To-do
            </h1>
        </header>
        {% block content %}
        This content will be replaced by different html code for each page.
        {% endblock %}
    </main>
    <script src="{% static 'todo_app/js/app.js' %}"></script>
</body>

</html>